<div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                  <div class="service-s">
                     <div class="servise-top wow fadeInUp">
                        <img src="{{ file_url(content.field_capability_bg_image['#items'].entity.uri.value) }}">
                     </div>
                     <h2 class="Practice"> {{ content.field_sub_title.0 }} </h2>
                     <p class="bottom-s">{{ content.field_services_tagline.0 }}</p>
                     <div class="button-div">
                        <a href="{{ content.field_about_link[0]['#url']|render }}" class="button-buttom"> {{ content.field_about_link[0]['#title']|render }} </a>
                     </div>
                  </div>
               </div>